{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input name="title" id="title" value="{{ request.form['title'] }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="title">Author</label>
      <input name="author" id="author" value="{{ request.form['author'] }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="body">Detail</label>
      <textarea name="detail" id="detail" class="form-control">{{ request.form['detail'] }}</textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Save">
  </form>
{% endblock %}