{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  <div class="d-flex justify-content-between">
    <div>
      <form method='post'>
        <div class="form-group">
          <input name="search_word" id="search_word" class="form-control">
        </div>
        <input type="submit" value="Search" class="btn btn-primary">
      </form>
    </div>
    <div>
      <a class="btn btn-primary" href="{{ url_for('book.create') }}">New</a>
    </div>
  </div>
{% endblock %}


{% block content %}
{{ pagination.info }}
{{ pagination.links }}
  {% for post in res %}
    <article class="container">
      <header>
        <div class="d-flex justify-content-between">
          <div>
          <a class="book" href="{{ url_for('book.individual', id=post['id']) }}">{{ post['title'] }} by {{ post['author'] }}</a>
          </div>
          <div> 
          <div class="created_date">{{ post['created'].strftime('%Y-%m-%d') }}</div>
          </div>
        </div>
        <a class="btn btn-primary btn-sm" href="{{ url_for('book.update', id=post['id']) }}">Edit</a>
      </header>
      <p class="body">{{ post['detail'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{{ pagination.links }}
{% endblock %}