{% extends 'base.html' %}

{% block content %}
    <article class="container">
      <header>
        <div class="d-flex justify-content-between">
          <div>
          <h1>{{ post['title'] }} by {{ post['author'] }}</h1>
          </div>
          <div> 
          <div class="created_date">{{ post['created'].strftime('%Y-%m-%d') }}</div>
          </div>
        </div>
        <a class="btn btn-primary btn-sm" href="{{ url_for('book.update', id=post['id']) }}">Edit</a>
      </header>
      <p class="body">{{ post['detail'] }}</p>
    </article>
{% endblock %}